# files: 
calculator
calculator.o
subtraction.so
main
polyglotCalculator.sln
multiplication.so.dbg
multiplication.so
multiplication
libdivision.so
division.dll
main.exe
multiplication.exe
python314.dll
python_config.h
subtraction.dll

# folders: 
__pycache__/
CSharpMath/bin/
CSharpMath/obj/
division/target/